.colleagues_section{
   margin: 100px 0;
  
}

.collegaqutusu{
   max-width: 200px;
}
.collegaqutusu img{
   width:100%;
   
}
 @media(max-width:590px){
  
   .colleagues_section{
      max-width: 285px;
      margin: 50px auto;
   }
}