.learnSection{
    margin: 0 !important;
    color: #fff;
}
.learn-left-side{
    max-width: 600px;
    /* margin-right:10px; */
}
.learn-rigth-side{
    padding: 178px 0;
    padding-left: 100px;
}
.learn-rigth-side h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}
.learn-rigth-side .learnType{
    
    display: block;
     height: 80px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    margin: 40px 0;
    opacity: 0.7;
}


@media (min-width:1347px) {
    .learnSection {
        padding: 70px 120px;
  
    }
  
  }
  
  @media (max-width:1346px) {
    .learnSection {
        padding: 70px 90px;
  
    }
  }
  
  @media (max-width:1180px) {
    .learnSection {
        padding: 70px 20px;
  
    }
  }
  
  @media (max-width:576px) {
    .learnSection {
        padding: 70px 10px;
  
    }
    
  }
  @media (max-width:948px) and (min-width:768px) {
    .learn-rigth-side .learnType{
        height: 100px;
    }
    
  }
  @media (max-width:767px){
    .learn-left-side{
        margin: 0 auto;
    }
    .learn-rigth-side{
        padding-top: 70px !important;
    }
    .learn-rigth-side h1,
    .learn-rigth-side .learnType{
        text-align: center;
    }
    .learn-btn{
        display: block;
        margin: 0 auto;
    }
    .learn-rigth-side{
        
        padding:0 10px;
    }
    
  }
